<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Add new todo</title>
    <link rel="stylesheet" href="/css/todo.css" type="text/css" media="all" />
  </head>
  <body>
    <h1>TODOS</h1>
    <h2>Add a new todo item</h2>
    <form method="post">
      <input type="text" name="name" placeholder="e.g. Pick up shopping">
      <input type="submit" value="Add">
    </form>
  </body>
</html>

