<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Todos</title>
    <link rel="stylesheet" href="/css/todo.css" type="text/css" media="all" />
  </head>
  <body>
    <h1>TODOS</h1>
    <a href="/new-todo">Add todo</a>
    <ul>
    <% for todo in todos %>
      <li class="todo-item">
        <span class="<%= todo.done ? "complete" : "incomplete" %>"><%= todo.name %></span>
        <a href="/toggle-todo?name=<%= todo.name %>">
          <%= todo.done ? "Undo" : "Complete" %>
        </a>
      </li>
    <% end %>
    </ul>
  </body>
</html>
