<html>
  <head>
  </head>
  <body>
    <h1>Todo MVP</h1>

    <form method="POST">
      <label for="new-item">New item name</label>
      <input type="text" name="item" required="required" pattern=".{3,}" required title="3 characters minimum"/>
      <input type="submit" value="Add new item"/>
    </form>

    <h2>Todo list</h2>
    <ul>
      {{range .}}
      {{if .Done}}
      <li class="done"><s>{{.Name}}</s> - Done
        <form method="post" action="/done">
          <input type="hidden" name="item" value="{{.Name}}"/>
          <input type="submit" formaction="/not-done" value="Mark not done '{{.Name}}'" />
          <input type="submit" formaction="/delete" value="Delete '{{.Name}}'" />
        </form>
      </li>
      {{else}}
      <li>{{.Name}}
        <form method="post" action="/done">
          <input type="hidden" name="item" value="{{.Name}}"/>
          <input type="submit" formaction="/done" value="Mark done '{{.Name}}'" />
          <input type="submit" formaction="/delete" value="Delete '{{.Name}}'" />
        </form>
      </li>
      {{end}}
      {{end}}
    </ul>
  </body>
</html>
