[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
"flake8" = "*"
"flake8-django" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"

[scripts]
start = "django-admin runserver --pythonpath=. --settings=todomvp"
